:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height:100%;
}

#gameCanvas{
  border:1px black solid;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display:flex;
  z-index: 1;
}

body{
  display: flex;
  min-height: 100vh;
}

main{
  flex:1;
  display:flex;
}